html,
body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #03a9f4;
  color: white;
}
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.container {
  width: 80%;
  margin: 10px auto;
}
@media (min-width: 481px) {
  #tabs {
    width: 400px;
  }
  .container {
    width: 900px;
  }
}
.ui-loader {
  display: none;
}
table {
  border-collapse: collapse;
  padding: 0px;
}
.CodeMirror {
  width: 710px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
#editorContainer {
  float: left;
}
table,
td {
  border: 1px solid black;
  padding: 0px;
}
#gridContainer {
  float: right;
}
#gridBody > tr > td {
  width: 25px;
  height: 25px;
}
.empty {
  background-color: grey;
}
.robot {
  background-color: red;
}
.target {
  background-color: green;
}
.CodeMirror {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}