table {
	border-collapse: collapse;
	padding: 0px;
}
textarea {
	float: left;
}
table, td {
	border:1px solid black;
	padding: 0px;
}

#gridBody > tr > td {
	width: 25px;
	height: 25px;
}

.empty {
	background-color: grey;
}
.robot {
	background-color: red;
}
.target {
	background-color: green;
}